<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FlatMate</title>

    <environment names="Development">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

        <link rel="stylesheet" asp-href-include="~/lib/css/**/*.min.css" />
        <link rel="stylesheet" asp-href-include="~/css/**/*.min.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav>
        <label for="navigation-state">
            <div class="navigation-button">
                <div class="icon-burger"></div>
            </div>
        </label>
        <input id="navigation-state" type="checkbox" class="navigation-state" />
        <div class="navigation-wrapper">
            <div class="navigation">
                <ul>
                    <li>Dashboard</li>
                    <li>Lists</li>
                    <li>Offers</li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="wrapper">
        @RenderBody()
    </main>
</body>
</html>