<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FlatMate</title>

    <environment names="Development">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">

        <link rel="stylesheet" asp-href-include="~/lib/css/**/*.css" />
        <link rel="stylesheet" asp-href-include="~/css/**/*.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

        <link rel="stylesheet" href="~/css/flatmate.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <input id="menu-checkbox" type="checkbox" />
    <label class="menu-toggle icon-32 icon-burger" for="menu-checkbox"></label>

    <nav>
        <span class="title">FlatMate</span>
        <ul>
            <li><a asp-area="" asp-controller="Dashboard" asp-action="">Übersicht</a></li>
            <li><a asp-area="Lists" asp-controller="Home" asp-action="">Listen</a></li>
            <li><a href="#">Angebote</a></li>
        </ul>
    </nav>

    <main>
        @RenderBody()
    </main>

    <environment names="Development">
        <script src="~/lib/js/atomic.min.js"></script>
        <script src="~/lib/js/vue.js"></script>
        <script src="~/js/flatmate.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/flatmate.min.js"></script>
    </environment>

    @await RenderSectionAsync("viewData", false)
    @await RenderSectionAsync("vueInit", false)

</body>
</html>