<script type="text/x-template" id="dashboard-editor-template">
        
        <form >
            <fieldset>
                <label>Typ</label>
                <select v-model="selectedTypeId" style="max-width:250px">
                    <option v-for="type in types" v-bind:value="type.id">
                        {{ type.name }}
                    </option>
                </select>
                
                <label>Wert</label>
                <select v-model="selectedValueId" style="max-width:250px">
                    <option v-for="value in values" v-bind:value="value.value">
                        {{ value.name }}
                    </option>
                </select>

                <div class="pull-right">
                    <input type="submit" value="Speichern">
                </div>
            </fieldset>
        </form>

</script>