@model FlatMate.Web.Controllers.DashboardEditModel
@{
    ViewData["Title"] = "Edit Dashboard";
}

<section class="container">
    
    <div class="title">
        <h2>Mein Dashboard bearbeiten</h2>
    </div>
    
    <dashboard-editor></dashboard-editor>
    
</section>

@section vueTemplates {
    @await Html.PartialAsync("DashboardVue")
}

@section viewData {
    <script type="application/json" id="viewData">
        @Html.Raw(JsonConvert.SerializeObject(Model.DashboardEntryTypes, Json.ViewSerializerSettings))
    </script>
}

@section vueInit{
    <script type="text/javascript">
        FlatMate.Home.init()
    </script>
}