@model FlatMate.Web.Areas.Lists.Data.ItemListEditVm

@{
    Layout = "_Layout";
}


<section class="container">
    <h2>@Model.ItemList.Name bearbeiten</h2>

    <form asp-area="Lists" asp-controller="ItemList" asp-action="Edit" method="post">
        <fieldset>
            <input asp-for="ItemList.Id" type="hidden" />

            <label asp-for="ItemList.Name"></label>
            <input asp-for="ItemList.Name"/>

            <label asp-for="ItemList.Description"></label>
            <input asp-for="ItemList.Description"/>

            <label asp-for="ItemList.IsPublic"></label>
            <input asp-for="ItemList.IsPublic"/>

            <div class="pull-right">
                <input type="submit" value="Speichern">
            </div>
        </fieldset>
    </form>

    <hr />

    <item-list-editor></item-list-editor>

</section>

@await Html.PartialAsync("ItemListVue")

@section viewData {
    <script type="application/json" id="viewData">
        @Html.Raw(JsonConvert.SerializeObject(Model.ItemList, Json.ViewSerializerSettings))
    </script>
}

@section vueInit{
    <script type="text/javascript">
        FlatMate.Lists.init()
    </script>
}