@model FlatMate.Web.Areas.Lists.Data.ItemListEditVm

@{
    Layout = "_Layout";
}


<section class="container">
    <h1>Edit @Model.ItemList.Name</h1>

    <form>
        <fieldset>
            <label asp-for="ItemList.Name"></label>
            <input asp-for="ItemList.Name" />

            <label asp-for="ItemList.Description"></label>
            <input asp-for="ItemList.Description" />

            <label asp-for="ItemList.IsPublic"></label>
            <input asp-for="ItemList.IsPublic" />

            <div class="pull-right">
                <input type="submit" value="Save">
            </div>
        </fieldset>
    </form>

    <hr />

    <item-list-editor></item-list-editor>

</section>

@await Html.PartialAsync("ItemListVue")

@section viewData {
    <script type="application/json" id="viewData">
        @Html.Raw(JsonConvert.SerializeObject(Model.ItemList, Json.ViewSerializerSettings))
    </script>
}

@section vueInit{
    <script type="text/javascript">
        FlatMate.Lists.init()
    </script>
}