<script type="text/x-template" id="item-list-editor-template">

    <div class="table">
        <item-list-group v-for="g in itemList.listGroups" :group="g" :itemlist-owner="itemList.userId" :key="g.id"></item-list-group>

        <div class="row">
            <div class="cell">
                <input type="text" placeholder="Neue Gruppe hinzufügen" v-el:itemvalue v-model.trim="newGroupName" v-on:keyup.enter="saveNewGroup" />
            </div>
            <div class="cell collapsed"></div>
            <div class="cell icon">
                <a class="icon-24 icon-plus-circle" v-on:click="saveNewGroup"></a>
            </div>
            <div class="cell icon"></div>
        </div>
    </div>

</script>

<script type="text/x-template" id="item-list-group-template">

    <div class="body">
        <div class="row">
            <div class="cell"><strong>{{group.name}}</strong></div>
            <div class="cell">
                <div v-if="showOwner()">
                    von {{group.user.userName}}
                </div>
            </div>
            <div class="cell icon"></div>
            <div class="cell icon">
                <a class="icon-24 icon-cross-circle" v-on:click="deleteGroup" v-if="isEditable"></a>
            </div>
        </div>

        <item-list-item v-for="i in group.items" :item="i" :itemlist-owner="itemlistOwner" :key="i.id"></item-list-item>

        <div class="row">
            <div class="cell" style="padding-left:3rem">
                <input type="text" placeholder="Neuen Eintrag hinzufügen" v-model.trim="newItemValue" v-on:keyup.enter="saveNewItem" />
            </div>
            <div class="cell collapsed"></div>
            <div class="cell icon">
                <a class="icon-24 icon-plus-circle" v-on:click="saveNewItem"></a>
            </div>
            <div class="cell icon"></div>
        </div>
    </div>

</script>

<script type="text/x-template" id="item-list-item-template">

    <div class="row">
        <div class="cell" style="padding-left:3rem" v-on:click="enterEditMode">
            <span v-if="!isEditMode">{{item.value}}</span>
            <input type="text" v-model="item.value" v-if="isEditable && isEditMode" v-el:iteminput v-on:blur="leaveEditMode" v-on:keyup.enter="leaveEditMode" />
        </div>
        <div class="cell">
            <div v-if="showOwner()">
                von {{item.user.userName}}
            </div>
        </div>
        <div class="cell icon"></div>
        <div class="cell icon">
            <a class="icon-24 icon-cross-circle" v-on:click="deleteItem" v-if="isEditable"></a>
        </div>
    </div>

</script>